.select {
    display: flex;
    position: relative;
}

.select-text {
    position: relative;
    background-color: transparent;
    width: 350px;
    margin: 10px 10px 10px 0;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
}

.select:after {
    position: absolute;
    top: 18px;
    right: 10px;
}

/*table*/
table { 
    width: 100%; 
    border-collapse: collapse; 
    font-family:
    'Roboto','Helvetica','Arial',sans-serif;
  }
  /* Zebra striping */
  tr:nth-of-type(odd) { 
    background: #eef1f1; 
  }
  th { 
    background: #BBE5DF; 
    color: black; 
    font-weight: bold; 
    font-size: 18px;
    border-top: 1px solid #ccc; 
  }
  td, th { 
    padding: 12px; 
    border-bottom: 1px solid #ccc; 
    text-align: center; 
  }
  th:nth-of-type(1), td:nth-of-type(1){
      border-left: 1px solid #ccc;
  }

  th:nth-of-type(6), td:nth-of-type(6){
    border-right: 1px solid #ccc;
    }



/*responsive table*/
@media 
    only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eef1f1; 
        position: relative;
        padding-left: 50%; 
    }

    td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
    }

}