.select {
    display: flex;
    position: relative;
}

.select-text {
    position: relative;
    background-color: transparent;
    width: 350px;
    margin: 10px 10px 10px 0;
    padding: 10px 10px 10px 0;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
}

.select:after {
    position: absolute;
    top: 18px;
    right: 10px;
}
